<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from fptshop.com.vn/tin-tuc by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Nov 2016 14:02:38 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>@ViewBag.shoptitle</title>
    <meta name="title" content="@ViewBag.shoptitle" />
    <meta name="description" content="@ViewBag.dercription" />
    <meta name="keywords" content="@ViewBag.keyword" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="copyright" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">
    <meta name="author" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">
    <meta http-equiv="audience" content="General">
    <meta name="resource-type" content="Document">
    <meta name="distribution" content="Global">
    <meta name="GENERATOR" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">



    <meta name="ROBOTS" content="INDEX, FOLLOW" />

    <meta property="og:site_name" content="FPTShop.com.vn" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="shortcut icon" href="~/cdn.fptshop.com.vn/Uploads/Thumbs/@ViewBag.icon">

    <link href="~/Content/skm.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <link href="~/Content/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/khuyenmai.css" rel="stylesheet" type="text/css" />
    </head>
<body>
    <div id="menuHeader">
        <a id="m-nav">
            <i class="icons m-nav-list-icon"></i>
        </a>
        <a href="@Url.Action("Index","Home")" class="logo"><img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@ViewBag.logo" style="width:140px;height:37px" alt="@ViewBag.shoptitle" /></a>
        <div class="search-box">
            <form>
                <input type="text" class="search-text-box tab-keyword" placeholder="Bạn muốn tìm gì?" />
                <button type="submit" class="submit search-button search-button-btn">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <div class="asmr"> <ul class="fshop-search-cate"></ul> <ul class="fshop-search-prod"></ul> </div>
            </form>
        </div> <div class="header-hotline"> <a href="tel:18006601"> <p>Hotline miễn phí</p> <p><i class="icons red-phone-icon"></i> <strong>@ViewBag.phoneshop</strong></p> </a> </div> <a href="tel:@ViewBag.phoneshop" class="btn-fodp"> Đặt mua giá tốt <i class="icons cart-header"></i> </a>
    </div>
    <div id="menuWrapper">
        <div id="menuBox">
            <div id="scroller">
                <ul id="menu"> <li class=""> <a href="dien-thoai.html"> <span> <label><i class="icons m-phone-icon"></i></label> </span> <label>Điện thoại</label> </a> </li> <li class=""> <a href="may-tinh-bang.html"> <span> <label><i class="icons m-tablet-icon"></i></label> </span> <label>Tablet</label> </a> </li><li class=""> <a href="San-khuyen-mai.html"> <span> <label><i class="icons m-promotion-icon"></i></label> </span> <label>Khuyến mãi</label> </a> </li> <li class=""> <a href="tin-tuc.html"> <span> <label><i class="icons m-paper-icon"></i></label> </span> <label>Tin hay</label> </a> </li> </ul>
            </div>
        </div>
    </div>

  <div class="wrapper page-news">
        @{Html.RenderAction("header", "Home"); }
       <div> @RenderBody()</div>
        @{Html.RenderAction("footer", "Home"); }       
    </div>

    <script>
        var _scroll = null;
        var _position = new Array();
        _position[1] = ';left:0px; top:0px';
        _position[2] = ';right:0px; top:0px';
        _position[3] = ';right:0px; bottom:25px';
        _position[4] = ';left:0px; bottom:25px';

        $(function () {

            $('body').append('<img src="/Content/data-image-png;base….png" id="scroll_to_top" alt="@Session["title"]" style="margin:0px 10px 10px 0px;cursor:pointer; position:fixed; ' + _position[3] + '">');
            _scroll = $('#scroll_to_top');
            _scroll.fadeOut().click(function (event) {
                event.preventDefault();

                $("html, body").animate({ scrollTop: 0 }, "slow", function () { _scroll.fadeOut(); });
            });

            $(window).scroll(function () {
                if ($(window).scrollTop() > 45) {
                    _scroll.fadeIn();
                } else {
                    _scroll.fadeOut();
                };
            });
        });
    </script>



</body>
</html>