<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from fptshop.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Nov 2016 13:17:00 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>

    <title>@ViewBag.shoptitle</title>
    <meta name="title" content="@ViewBag.shoptitle" />
    <meta name="description" content="@ViewBag.dercription" />
    <meta name="keywords" content="@ViewBag.keyword" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="copyright" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">
    <meta name="author" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">
    <meta http-equiv="audience" content="General">
    <meta name="resource-type" content="Document">
    <meta name="distribution" content="Global">
    <meta name="GENERATOR" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta property="og:site_name" content="FPTShop.com.vn" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <link rel="shortcut icon" href="~/cdn.fptshop.com.vn/Uploads/Thumbs/@ViewBag.icon">

    <script type="text/javascript">
        setTimeout(
               function () {
                   (function () {
                       window._klDmp = window._klDmp || [];
                       window._klDmp.push(["_siteId:FRT1282"]);
                       var el = document.createElement('script');
                       el.type = 'text/javascript'; el.async = true;
                       el.src = '~/js.knowlead.io/dmpcollector.js';
                       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(el, s);
                   })();
               }, 7000);
    </script>

    <link href="~/Content/cssv33edf.css?v=bUjrTTKiNxfuXrUt5GZBtJeGLARANljEScigRSXfGKM1phenv2222211" rel="stylesheet" />

    <link href="~/Content/homev34323.css?v=Fk5wK0jbX0L66r3NZhZjzSRDHX5ioHny01ACoI63K-o1" rel="stylesheet" />


    @*<script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-36867340-1', 'auto');
                ga('send', 'pageview');
                ga('require', 'ecommerce', 'ecommerce.html');
            </script>

            <!-- ANTS Analytics -->
            <script type="text/javascript">
                var _siteId = "512046464";
                setTimeout(
                       function () {
                           (function () {
                               var e = document.createElement("script"); e.type = "text/javascript", e.async = !0, e.src = "../st-a.anthill.vn/adx.js";
                               var t = document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e, t)
                           })();
                       }
                   , 7000);

            </script>
            <!-- Google Tag Manager -->
            <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W84P7P');</script>*@
    <!-- End Google Tag Manager -->
    <script src="~/Scripts/v3/libs/jquery/jquery.min.js"></script>

</head>
<body>
    <div class="wrapper page-news">
        <div id="main">
            <div class="container-fluid">
                <div class="input-group search-box-main">
                    <input type="text" class="form-control mb-keyword" placeholder="Bạn muốn tìm gì?">
                    <div class="asmr mb-asmr">
                        <ul class="fshop-search-cate"></ul>
                        <ul class="fshop-search-promotion"></ul>
                        <ul class="fshop-search-old-product"></ul>
                        <ul class="fshop-search-discharge"></ul>
                        <ul class="fshop-search-prod"></ul>
                        <ul class="fshop-search-acces"></ul>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default search-button-btn" type="submit"><i class="glyphicon glyphicon-search"></i> </button>
                    </span>
                </div>


                <div class="fshop-mainbox">
                    <div class="row f-sllbox">
                        <!--slider box-->
                        <div class="fshop-bntopmain clearfix">
                            <div class="f-slleft">
                                <div id="fowl1" class="owl-carousel f-slsl owl-theme" style="opacity: 1; display: block;">
                                    <div class="owl-wrapper-outer">
                                        <div class="owl-wrapper" style="width: 800px; height:364px; left: 0px; display: block;">
                                            <div class="owl-item" style="width: 800px;">
                                                <div>
                                                    <img style="height:364px" src="http://cdn.fptshop.com.vn/Uploads/Originals/2016/11/11/636144224711496309_H1-iPhone7-Pre-P2.jpg" alt="iPhone 7 - Siêu ưu đãi" title="iPhone 7 - Siêu ưu đãi">

                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>





                                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div>
                                </div>

                                <div id="fowl2" class="owl-carousel f-slml owl-theme" style="opacity: 1; display: block;">





                                </div>
                            </div>
                            <div class="f-slright">
                                <ul class="clearfix" data-id="ssss">
                                    <li><a target="_blank" href="http://fptshop.com.vn/chao-don-meizu" title="Meizu U20"><img src="http://cdn.fptshop.com.vn/Uploads/Originals/2016/11/3/636137283875019950_meizu-u20-h2.jpg" alt="Meizu U20"></a> </li>
                                    <li><a target="_blank" href="http://fptshop.com.vn/phu-kien/dien-thoai/iphone-7" title="Phu Kien"><img src="http://cdn.fptshop.com.vn/Uploads/Originals/2016/11/2/636137254306447950_H2-385x175.jpg" alt="Phu Kien"></a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div>@RenderBody()</div>
                
            </div>




        </div>
    </div>
   
    @{Html.RenderAction("header", "Home");}

    <footer class="fs-footer"> <div class="container-fluid"> <div class="fshop-mainbox"> <div class="fs-ftrow clearfix"> <div class="fs-ftcol fs-ftcol1"> <h2><a href="gioi-thieu.html">Giới thiệu về công ty</a></h2> <ul class="fs-ftul"> <li><a href="huong-dan/cau-hoi-thuong-gap.html" title="Câu hỏi thường gặp mua hàng">Câu hỏi thường gặp mua hàng</a></li> <li><a href="ho-tro/chinh-sach-bao-mat.html" title="">Các chính sách FPT Shop</a></li> <li><a href="ho-tro/chinh-sach-bao-hanh.html" title="">Hệ thống bảo hành</a></li> </ul> </div> <div class="fs-ftcol fs-ftcol1"> <h2><a href="http://vieclam.fptshop.com.vn/">Tin tuyển dụng</a></h2> <ul class="fs-ftul"> <li><a href="tin-tuc/Tin-khuyen-mai.html" title="">Tin khuyến mãi</a></li> <li><a href="huong-dan/huong-dan-mua-hang.html" title="">Hướng dẫn mua online</a></li> <li><a href="tra-gop.html" title="">Hướng dẫn mua trả góp</a></li> </ul> </div> <div class="fs-ftcol fs-ftcol1"> <h2><a href="cua-hang.html">Hệ thống cửa hàng</a></h2> <ul class="fs-ftul"> <li><a href="kiem-tra-hang-apple-chinh-hang.html" title="">Kiểm tra hàng Apple chính hãng</a></li> <li><a href="ho-tro/gioi-thieu-may-doi-tra.html" title="">Giới thiệu máy đổi trả</a></li> <li><a href="ho-tro/gioi-thieu-xa-hang.html" title="">Giới thiệu xả hàng</a></li> </ul> </div> <div class="fs-ftcol  fs-ftcol2"> <div class="fs-ftr1"> <span>Hỗ trợ thanh toán</span> <a class="fs-ftr-vs" href="#" title=""></a> <a class="fs-ftr-mt" href="#" title=""></a> <a class="fs-ftr-atm" href="#" title=""></a> </div> <ul class="fs-ftr2 clearfix"> <li> <p>Tư vẫn miễn phí (24/7)</p> <a href="javascript:;" title="">1800 6601</a> </li> <li> <p>Góp ý, phản ánh(8h00 - 22h00)</p> <a href="javascript:;" title="">1800 6616</a> </li> </ul> <div class="fs-ftr3"> <ul> <li><a class="fs-ftr-cthuong" href="javascript:;" title=""></a></li> <li><a class="fs-ftr-dmca" href="javascript:;" title=""></a></li> <li><a class="fs-ftr-sp" href="javascript:;" title=""></a></li> <li><a class="fs-ftr-thieuvn" href="javascript:;" title=""></a></li> </ul> </div> </div> </div> </div> </div>  <div class="fs-ftbott"> © 2007 - 2016 Công Ty Cổ Phần Bán Lẻ Kỹ Thuật Số FPT / Địa chỉ: 261 Khánh Hội, P5, Q4, TP. Hồ Chí Minh / GPĐKKD số 0311609355 do Sở KHĐT TP.HCM cấp ngày 08/03/2012. </div> </footer>
    
    <div id="menuHeader"> <a id="m-nav"><i class="icons m-nav-list-icon"></i> </a> <a href="index.html" class="logo"><img src="Content/v3/images/logo-black.png" /></a> <div class="search-box"> <form> <input type="text" class="search-text-box tab-keyword" placeholder="Bạn muốn tìm gì?" /> <button type="submit" class="submit search-button search-button-btn"><i class="glyphicon glyphicon-search"></i></button> <div class="asmr"> <ul class="fshop-search-cate"></ul> <ul class="fshop-search-prod"></ul> </div> </form> </div> <div class="header-hotline"> <a href="tel:18006601"> <p>Hotline miễn phí</p> <p><i class="icons red-phone-icon"></i> <strong>1800 6601</strong></p> </a> </div> <a href="tel:18006601" class="btn-fodp"> Đặt mua giá tốt <i class="icons cart-header"></i> </a> </div> <div id="menuWrapper"> <div id="menuBox"> <div id="scroller"> <ul id="menu"> <li class=""> <a href="dien-thoai.html"> <span> <label><i class="icons m-phone-icon"></i></label> </span> <label>Điện thoại</label> </a> </li> <li class=""> <a href="may-tinh-bang.html"> <span> <label><i class="icons m-tablet-icon"></i></label> </span> <label>Tablet</label> </a> </li> <li class=""> <a href="apple.html"> <span> <label><i class="icons m-apple-icon"></i></label> </span> <label>Apple</label> </a> </li> <li class=""> <a href="may-tinh-xach-tay.html"> <span> <label><i class="icons m-laptop-icon"></i></label> </span> <label>Laptop</label> </a> </li> <li> <a href="smartwatch.html" title="SmartWatch"> <span> <label><i class="icons m-swatch-icon"></i></label> </span> <label>SmartWatch</label> </a> </li> <li class=""> <a href="phu-kien.html"> <span> <label><i class="icons m-accessories-icon"></i></label> </span> <label>Phụ kiện</label> </a> </li> <li class=""> <a href="may-doi-tra.html"> <span> <label><i class="icons m-refresh-icon"></i></label> </span> <label>Máy đổi trả</label> </a> </li> <li class=""> <a href="xa-hang-2016.html" title="Xả hàng"> <span> <label><i class="icons m-saleoff-icon"></i></label> </span> <label>Xả hàng</label> </a> </li> <li class=""> <a href="San-khuyen-mai.html"> <span> <label><i class="icons m-promotion-icon"></i></label> </span> <label>Khuyến mãi</label> </a> </li> <li class=""> <a href="tin-tuc.html"> <span> <label><i class="icons m-paper-icon"></i></label> </span> <label>Tin hay</label> </a> </li> </ul> </div> </div> </div>


    <div class="modal fade" id="modal-call-me" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="fshop-pucb-close b-close close-f-modal" data-dismiss="modal"><a onclick="ga('send', 'event', 'Tat Popup lay sdt sp bestseller mobile home page ', 'Tat Popup lay sdt sp bestseller mobile home page ', 'Tat Popup lay sdt sp bestseller mobile home page ')">&nbsp;</a></div><div class="fcm-box"><p class="fshop-pucb-line1"><img src="Content/Publishing/popup-callback/images/title-consult.png" alt=""></p><div class="fshop-pucb-line">Hãy để lại số điện thoại của bạn để được tư vấn miễn phí và nhận những thông tin ưu đãi, khuyến mại đặc biệt dành cho thành viên của FPT Shop!</div><div class="fshop-pucb-form"><form id="form-call-me"><input type="text" class="fshop-pucb-txt fcm_phone_txt" placeholder="Số điện thoại của bạn..."><input type="submit" class="fshop-pucb-bnt ppo_best_bnt" data-name="FPTShop" value="Gọi lại"></form></div></div><div class="fcm-thank"><p class="fshop-pucb-line1"><img src="Content/Publishing/popup-callback/images/pucb-title-thank.png" alt=""></p><p class="fshop-pucb-line">Bạn sẽ nhận được cuộc gọi của chúng tôi <strong>(8h-22h)</strong> từ số máy gọi đến <strong>08.73006606</strong></p><div class="fshop-pucb-form"><input type="button" class="b-close fshop-pucb-bnt close-f-modal" data-dismiss="modal" value="Đồng ý"></div></div></div></div></div></div><div class="button-bottom"><ul><li><a href="javascript:jfpts.homepage.modalCallMe();">Gọi ngay cho tôi</a></li><li><a href="tel:18006601">Gọi 1800 6601</a></li></ul></div>


    <div class="back-to-top">
        <a href="javascript:;"></a>
    </div>


    <script src="~/bundles/scriptsv347d2?v=13uEMUJatrNilk4OdjCK_9_owp9-XHtlesnx6nHgflQ1"></script>



    <meta name="adx:sections" content="Trang chủ" />
    <meta name="adx:objects" content="0" />
    <meta name="adx:authors" content="" />


    <script src="~/bundles/homev338b8?v=mMDHiWOFsPJuqV3rr3Ah0tX_nS3V63mYkGRr2YnHPTc1"></script>

    <script type="text/javascript" async src="~/e-vcdn.anthill.vn/delivery-ants/conversion.js"></script>
    <script type="text/javascript">
        var ants_analytic = ants_analytic || [];
        ants_analytic.push({ conversionId: "c80ad084" });
    </script>





    <!-- End Google Tag Manager -->

    <div class="fs-callfix">
        <label>
            <a href="tel:@ViewBag.phone" title="">
                <span></span>
                <p>Tư vấn miễn phí(24/7)<br> <strong>@ViewBag.phone</strong></p>
            </a>
            <i></i>
        </label>
    </div>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', '../connect.facebook.net/en_US/fbevents.js');
        fbq('init', '527503604082474', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=527503604082474&amp;ev=PageView&amp;noscript=1%22%20/>%20%20%20%20</noscript>%20%20%20%20<!--%20DO%20NOT%20MODIFY%20-->%20%20%20%20<!--%20End%20Facebook%20Pixel%20Code%20--><!--%20Google%20Tag%20Manager%20(noscript)%20--><noscript><iframe%20src="https//www.googletagmanager.com/ns.html?id=GTM-W84P7P"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>

<!-- Mirrored from fptshop.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Nov 2016 13:21:01 GMT -->
</html>