<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from fptshop.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Nov 2016 13:17:00 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>

    <title>@ViewBag.shoptitle</title>
    <meta name="title" content="@ViewBag.shoptitle" />
    <meta name="description" content="@ViewBag.dercription" />
    <meta name="keywords" content="@ViewBag.keyword" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="copyright" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">
    <meta name="author" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">
    <meta http-equiv="audience" content="General">
    <meta name="resource-type" content="Document">
    <meta name="distribution" content="Global">
    <meta name="GENERATOR" content="Công ty Cổ phần Bán lẻ Kỹ thuật số FPT">
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta property="og:site_name" content="FPTShop.com.vn" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <link rel="shortcut icon" href="~/cdn.fptshop.com.vn/Uploads/Thumbs/@ViewBag.icon">

    <script type="text/javascript">
        setTimeout(
               function () {
                   (function () {
                       window._klDmp = window._klDmp || [];
                       window._klDmp.push(["_siteId:FRT1282"]);
                       var el = document.createElement('script');
                       el.type = 'text/javascript'; el.async = true;
                       el.src = '~/js.knowlead.io/dmpcollector.js';
                       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(el, s);
                   })();
               }, 7000);
    </script>

    <link href="~/Content/cssv33edf.css" rel="stylesheet" />

    <link href="~/Content/homev34323.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Content/cssv36fb1.css" rel="stylesheet" />
    <script src="~/Scripts/v3/libs/jquery/jquery.min.js"></script>

</head>
<body>
    <div class="wrapper page-news">
        <div id="main">
            <div class="container-fluid">
                <div class="input-group search-box-main">
                    <input type="text" class="form-control mb-keyword" placeholder="Bạn muốn tìm gì?">
                    <div class="asmr mb-asmr">
                        <ul class="fshop-search-cate"></ul>
                        <ul class="fshop-search-promotion"></ul>
                        <ul class="fshop-search-old-product"></ul>
                        <ul class="fshop-search-discharge"></ul>
                        <ul class="fshop-search-prod"></ul>
                        <ul class="fshop-search-acces"></ul>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default search-button-btn" type="submit"><i class="glyphicon glyphicon-search"></i> </button>
                    </span>
                </div>


                <div class="fshop-mainbox">
                    <div class="row f-sllbox">
                        <!--slider box-->
                        <div class="fshop-bntopmain clearfix">
                            <div class="f-slleft">
                                <div id="fowl1" class="owl-carousel f-slsl owl-theme" style="opacity: 1; display: block;">
                                    <div class="owl-wrapper-outer">
                                        <div class="owl-wrapper" style="width: 800px; height:364px; left: 0px; display: block;">
                                            <div class="owl-item" style="width: 800px;">
                                                <div>
                                                    <img style="height:364px" src="~/Content/636150650594040716_H1-iPhone7-Pre-P2-1.jpg" />

                                                </div>
                                            </div>

                                        </div>
                                    </div>





                                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div>
                                </div>

                                <div id="fowl2" class="owl-carousel f-slml owl-theme" style="opacity: 1; display: block;">





                                </div>
                            </div>
                            <div class="f-slright">
                                <ul class="clearfix" data-id="ssss">
                                    <li><a target="_blank" href="" title="Meizu U20">
                                            <img src="~/Content/636150650594040716_H1-iPhone7-Pre-P2-1.jpg" /></a> </li>
                                    <li><a target="_blank" href="" title="Phu Kien">
                                            <img src="~/Content/636149349376834335_on-7-h2.jpg" /></a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div>@RenderBody()</div>

            </div>




        </div>
    </div>

    @{Html.RenderAction("header", "Home");}

    @{Html.RenderAction("footer", "Home");}



    
    <div id="menuHeader">
        <a id="m-nav">
            <i class="icons m-nav-list-icon"></i>
        </a>
        <a href="@Url.Action("Index","Home")" class="logo"><img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@ViewBag.logo" style="width:140px;height:37px" alt="@ViewBag.shoptitle" /></a>
        <div class="search-box">
            <form>
                <input type="text" class="search-text-box tab-keyword" placeholder="Bạn muốn tìm gì?" />
                <button type="submit" class="submit search-button search-button-btn">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <div class="asmr"> <ul class="fshop-search-cate"></ul> <ul class="fshop-search-prod"></ul> </div>
            </form>
        </div> <div class="header-hotline"> <a href="tel:18006601"> <p>Hotline miễn phí</p> <p><i class="icons red-phone-icon"></i> <strong>@ViewBag.phoneshop</strong></p> </a> </div> <a href="tel:@ViewBag.phoneshop" class="btn-fodp"> Đặt mua giá tốt <i class="icons cart-header"></i> </a>
    </div> 
    <div id="menuWrapper"> 
    <div id="menuBox"> <div id="scroller"> 
        <ul id="menu"> <li class=""> <a href="dien-thoai.html"> <span> <label><i class="icons m-phone-icon"></i></label> </span> <label>Điện thoại</label> </a> </li> <li class=""> <a href="may-tinh-bang.html"> <span> <label><i class="icons m-tablet-icon"></i></label> </span> <label>Tablet</label> </a> </li><li class=""> <a href="San-khuyen-mai.html"> <span> <label><i class="icons m-promotion-icon"></i></label> </span> <label>Khuyến mãi</label> </a> </li> <li class=""> <a href="tin-tuc.html"> <span> <label><i class="icons m-paper-icon"></i></label> </span> <label>Tin hay</label> </a> </li> </ul> </div> </div> </div>



        <script>
        var _scroll = null;
        var _position = new Array();
        _position[1] = ';left:0px; top:0px';
        _position[2] = ';right:0px; top:0px';
        _position[3] = ';right:0px; bottom:25px';
        _position[4] = ';left:0px; bottom:25px';

        $(function () {

            $('body').append('<img src="/Content/data-image-png;base….png" id="scroll_to_top" alt="@Session["title"]" style="margin:0px 10px 10px 0px;cursor:pointer; position:fixed; ' + _position[3] + '">');
            _scroll = $('#scroll_to_top');
            _scroll.fadeOut().click(function (event) {
                event.preventDefault();

                $("html, body").animate({ scrollTop: 0 }, "slow", function () { _scroll.fadeOut(); });
            });

            $(window).scroll(function () {
                if ($(window).scrollTop() > 45) {
                    _scroll.fadeIn();
                } else {
                    _scroll.fadeOut();
                };
            });
        });
        </script>



    <script src="~/bundles/scriptsv347d2?v=13uEMUJatrNilk4OdjCK_9_owp9-XHtlesnx6nHgflQ1"></script>
    <script src="~/bundles/homev338b8?v=mMDHiWOFsPJuqV3rr3Ah0tX_nS3V63mYkGRr2YnHPTc1"></script>

    <script type="text/javascript" async src="~/e-vcdn.anthill.vn/delivery-ants/conversion.js"></script>





    <!-- End Google Tag Manager -->

    <div class="fs-callfix">
        <label>
            <a href="tel:@ViewBag.phone" title="">
                <span></span>
                <p>Tư vấn miễn phí(24/7)<br> <strong>@ViewBag.phone</strong></p>
            </a>
            <i></i>
        </label>
    </div>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', '../connect.facebook.net/en_US/fbevents.js');
        fbq('init', '527503604082474', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=527503604082474&amp;ev=PageView&amp;noscript=1%22%20/>%20%20%20%20</noscript>%20%20%20%20<!--%20DO%20NOT%20MODIFY%20-->%20%20%20%20<!--%20End%20Facebook%20Pixel%20Code%20--><!--%20Google%20Tag%20Manager%20(noscript)%20--><noscript><iframe%20src=" https//www.googletagmanager.com/ns.html?id=GTM-W84P7P" height="0" width="0" style="display:none;visibility:hidden" /></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>

<!-- Mirrored from fptshop.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Nov 2016 13:21:01 GMT -->
</html>