@model webanhnguyen.Models.tbl_Product
@{
    ViewBag.Title = Model.TenSP;
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}
<div class="detail-box container-fluid">
    <div class="row">
        <div class="detail-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li>
                    <a href="@Url.Action("ProductType","Home",new {id = ViewBag.aliasloai })">@ViewBag.TenLoai</a>
                </li>
                <li> <a href="@Url.Action("Producer","Home",new {id = ViewBag.aliashang })"> @ViewBag.TenHangSX </a> </li>
                <li class="active">@Model.TenSP</li>
            </ol>
        </div>

        <div class="detail-container clearfix">
            <div class="detail-top-info clearfix">
                <div class="detail-top-left">
                    <div class="box-name">
                        <h1 class="detail-name">@Model.TenSP</h1>

                        <div class="fpt_chinhhang_main">
                        </div>

                        <div class="fshop-dtv2-social">
                            <div class="icon-sc">
                                <ul class="fshop-ulscs">
                                    <li> <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>  <div class="fb-share-button" data-href="http://fptshop.com.vn/dien-thoai/samsung-galaxy-s7-edge" data-type="button_count"></div> <div id="fb-root"></div> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail-main-image left">
                <div class="clearfix">
                    <div id="slider-image">
                        <div class="pgwSlider listOnTheLeft wide">
                            <div class="ps-current" style="height: 480px;">
                                <ul>
                                    <li class="elt_1" style="display: list-item; opacity: 1; z-index: 2;"><img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@Model.UrlHinh" alt=""></li>

                                </ul>
                            </div>
                            <script type="text/javascript"> document.getElementById("default_image").style.display = "none";  </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-main-info right">
                    <div class="detail-order-promotion clearfix">
                  
                  <div class="clearfix"> <div class="detail-price-status "> <div class="detail-current-price" data-price="14990000,0000"> <strong>@(((int)(Model.GiaHienTai)).ToString("#,###", ViewBag.CurrentNumberFormat))<label>đ</label></strong>
    </div>  <div class="detail-listkm"> 
                       </div>   </div> </div>
<div class="clearfix"></div>   <div class="detail-promotion">
                            <div class="detail-promotion-box">
                                <p style="font-size: 14px; line-height: 24px; color: red; font-family:tahoma,geneva,sans-serif;"><a class="detail-order-now-t" title="Đặt online" style="color:red;text-decoration: none;"><strong>Đặt Online</strong></a><span style="color: rgb(255, 0, 0); font-family: tahoma, geneva, sans-serif; font-size: 14px; line-height: 24px;"> hoặc </span><a href="tel:18006601" style="color: red; font-family: tahoma, geneva, sans-serif; font-size: 14px; line-height: 24px; text-decoration: none;"><strong>Gọi 18006601</strong></a><span style="color: rgb(255, 0, 0); font-family: tahoma, geneva, sans-serif; font-size: 14px; line-height: 24px;"> ưu tiên khuyến mãi (SL có hạn):</span></p>
                                @Model.MoTa
                            </div>
                        </div>  <div class="left detail-order" data-page="False">
                                    <a class="detail-order-now" href="@Url.Action("ThemGiohang", "ShoppingCart", new { @iMasp= Model.ID, @strURL=Request.Url.ToString() })" onclick="alert('Đã Thêm Vào Giỏ')">
                                        <label>MUA NGAY</label>
                                    </a>


                        </div>
                        <div>
                            <a href="@Model.thanhtoantructuyen" style="text-align: center"><img style="margin-top: 20px; " src="http://www.baokim.vn/developers/uploads/baokim_btn/thanhtoan-l.png" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></a>
                        </div>
                    </div>

                        </div>

            

        </div>

    </div>
</div>
<div class="detail-info" data-bid="19">


    <div class="container-fluid">
        <div class="box-row">
            <div class="detail-image-accessories clearfix">

                <div class="left detail-image">
                    <h3 class="detail-title">Chi tiết sản phẩm</h3>
                    @Html.Raw(Model.MoTaCT)
                </div>
                <div class="detail-right-sidebar detail-accessories">
                    <a href="@Url.Action("Producer","Home",new {id = ViewBag.aliashang })">
                        <h3 class="detail-title" style="font-size: 29px;">Sản phẩm cùng hãng</h3>
                    </a>
                    <ul class="accessories-list">
                        @foreach (var items in ViewBag.SP_cungloaihang)

                        {
                            <li>

                                <a href="@Url.Action("Details","Home",new { id = items.alias})" class="accessories-image">
                                    <img class="lazy" src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@items.UrlHinh" title="" alt="" />
                                </a>
                                <h3><a href="@Url.Action("Details","Home",new { id = items.alias})">@items.TenSP</a></h3>
                                <strong>@(((int)(items.GiaHienTai)).ToString("#,###", ViewBag.CurrentNumberFormat)) đ</strong>
                            </li> }
                    </ul>
                </div>

            </div>
       
        </div>
    </div>
</div>

<div class="comment cm-comment" style="margin-left: 100px">

<h3 class="detail-box">Bình luận</h3>
        <div style="padding:10px">
            <div id="fb-root"></div>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-comments" data-href="@Request.Url.ToString()" data-width="680" data-num-posts="10"></div>
        </div>
    </div>



