@model IEnumerable<webanhnguyen.Models.tbl_information>
<footer class="fs-footer">
    <div class="container-fluid">
        <div class="fshop-mainbox">
            <div class="fs-ftrow clearfix">
                <div class="fs-ftcol fs-ftcol1">
                    <h2>
                        <a href="">Giới thiệu về cửa hàng</a>
                    </h2>
                    <ul class="fs-ftul">

                        @foreach (var item in Model)
                        {
                            if (item.GioiThieu == true)
                            {
                                <li>
                                    <a href="@Url.Action("information", "Home", new { id = item.alias })" title="@item.TenTT">@item.TenTT</a>
                                </li>
                            }
                        }
                    </ul>
                </div>

               <div class="fs-ftcol fs-ftcol1">
                    <h2><a href="cua-hang.html">Hệ thống cửa hàng</a></h2> <ul class="fs-ftul">
                        @foreach (var item in Model)
                        {
                            if (item.GioiThieu == false)
                            {
                                <li>
                                    <a href="@Url.Action("information", "Home", new { id = item.alias })" title="@item.TenTT">@item.TenTT</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="fs-ftcol  fs-ftcol2 right">
                        <h2>Hỗ trợ thanh toán</h2>
                     <a class="fs-ftr-vs" href="#" title=""></a> <a class="fs-ftr-mt" href="#" title=""></a> <a class="fs-ftr-atm" href="#" title=""></a>
               <ul class="fs-ftr2 clearfix">
                        <li> <p>Tư vẫn miễn phí (24/7)</p> <a href="javascript:;" title="">@ViewBag.phoneshop</a> </li>
                        <li>
                            <p>Góp ý, phản ánh(8h00 - 22h00)</p>
                            <a href="javascript:;" title="">@ViewBag.phoneshop</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
