@model IEnumerable<webanhnguyen.Models.tbl_Product>
@foreach (var it in Model)
{
    <div itemscope="" itemtype="http://schema.org/Product" style="display: none">
        <meta itemprop="sku" content="COM5CAN">
        <meta itemprop="name" content="@it.TenSP">
        <meta itemprop="description" content="@it.MoTaCT">
        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <link itemprop="availability" href="http://schema.org/OutOfStock" rel="t">
            <meta itemprop="priceCurrency" content="VNĐ">
            <meta itemprop="price" content="@it.GiaHienTai">
        </div>
    </div>
    <div class="ty-column4">
        <div class="ty-grid-list__item ty-quick-view-button__wrapper">
            <div class="ty-grid-list__image">
                <a href="@Url.Action("Details","Home",new { id=it.alias})">
                    <img class="ty-pict" src="~/@it.UrlHinh" style="height: 292px; width: 292px" alt="@it.TenSP" title="">
                </a>
                @if (@it.KhuyenMai > 0)
                {
                    <ul class="ty-discount-label cm-reload-103000392" id="discount_label_update_103000392">
                        <li class="ty-discount-label__item" id="line_prc_discount_value_103000392"><span class="ty-discount-label__value" id="prc_discount_value_label_103000392">Giảm @it.KhuyenMai %</span></li>
                        <!--discount_label_update_103000392-->
                    </ul>
                }
                <div class="product-hover">
                    <div class="product-shipping-free">
                        <i class="fa fa-truck"></i> Miễn phí
                    </div>
                    <a href="@Url.Action("Details","Home",new { id=it.alias})" class="product-view">Mua&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="ty-grid-list__item-name">
                <a href="@Url.Action("Details","Home",new { id=it.alias})" class="product-title" title="@it.TenSP">@it.TenSP</a>
            </div><div class="ty-grid-list__price ">
                <span class="cm-reload-122000404" id="old_price_update_122000404">

                    @if (@it.KhuyenMai > 0)
                    {
                        <span class="ty-list-price ty-nowrap" id="line_list_price_103000392"><span class="ty-strike"><span id="sec_list_price_103000392" class="ty-list-price ty-nowrap">@string.Format("{0:#,##0}", it.GiaCu) đ</span></span></span>
                    }



                    <!--old_price_update_122000404-->
                </span>
                <span class="cm-reload-122000404 ty-price-update" id="price_update_122000404">
                    <span class="ty-price" id="line_discounted_price_122000404"><span id="sec_discounted_price_122000404" class="ty-price-num">@string.Format("{0:#,##0}", it.GiaHienTai) đ</span></span>

                    <!--price_update_122000404-->
                </span>
            </div><div class="ty-grid-list__control"></div>
        </div>
    </div>
}
