@model IEnumerable<webanhnguyen.Models.tbl_producer>

<header class="fs-header">
    <div class="fs-wrap clf">
        <div class="fs-wrap clf">
            <a class="fs-logo" href="@Url.Action("Index","Home")"><img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@ViewBag.logo" style="width:140px;height:37px" alt="@ViewBag.shoptitle"/></a>
            <form class="fs-fsearch" id="frmSearch">
                            <input type="text" name="IP" id="IP" value="" placeholder="Bạn muốn tìm gì" class="fs-ipsearch search-text-box keyword" />
                            <a style="text-align:center; height:30px;margin-top: 1px" href="@Url.Action( "Search", "Home", new {txttimkiem = "xxx"})" class="link ffs-btnsearch submit search-button search-button-btn"><i class="fi fi-isearch" style="margin-top: 8px"></i>
                            </a>

                            <script>
                                            $(function () {
                                                $('.link').click(function () {
                                                    var ipvalue = $("#IP").val();

                                                        this.href = this.href.replace("xxx", ipvalue);

                                                });
                                            });
                            </script>
                        
                

            </form>
            <ul class="fs-menu">
                <li>
                    <a href="@Url.Action("ProductType", "Home", new { id = ViewBag.aliasdt})" title="Điện thoại">
                        <i class="fi fi-dienthoai"></i> Điện thoại
                    </a>
                    <div class="fs-submenu">
                        <div class="clf">
                            <div class="fs-mncol fs-mncol-70">
                                <h3 class="fs-mn-tit">Hãng sản xuất</h3>
                                <ul class="fs-submul fs-mnul-c3 clf">
                                    @foreach (var item in ViewBag.hsxdt)
                                    {
                                        <li>
                                            <a href="@Url.Action("Producer", "Home", new { id = item.alias })" title="@item.Tenhangsx">@item.Tenhangsx</a>
                                        </li> }
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="@Url.Action("ProductType", "Home", new { id = ViewBag.aliasmtb})" title="Máy tính bảng"><i class="fi fi-tablet"></i> Tablet</a>
                    <div class="fs-submenu">
                        <div class="clf">
                            <div class="fs-mncol fs-mncol-50">
                                <h3 class="fs-mn-tit">Hãng sản xuất</h3>
                                <ul class="fs-submul fs-mnul-c2">
                                    @foreach (var item in ViewBag.hsxmtb)
                                    {
                                        <li>
                                            <a href="@Url.Action("Producer", "Home", new { id = item.alias })" title="@item.Tenhangsx">@item.Tenhangsx</a>
                                        </li> }

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li> <a href="@Url.Action("KhuyenMai", "Home")" title="Khuyến mãi"><i class="fi fi-khuyenmai"></i> Khuyến mãi</a> </li>
                <li> <a href="@Url.Action("tintuc", "Home")" title="Tin hay"><i class="fi fi-tinhay"></i> Tin hay</a> </li>
                <li> <a href="@Url.Action("ProductType", "Home")" title="Khuyến mãi"><i class="fi fi-hoidap"></i> Hỏi đáp</a> </li>
                @Html.Action("GiohangPartial", "ShoppingCart")
                @if (Session["Email"] == null)
                {
                 <li> <a href="@Url.Action("Login", "User")" title="Đăng nhập">
                         <img src="~/Content/Login.png" style="width:29px;height:29px;margin-top: 7px;margin-bottom:7px" alt="@ViewBag.shoptitle" title="Đăng nhập"/><br /> Đăng nhập</a> </li>
                <li>
                    <a href="@Url.Action("Register", "User")" title="Đăng nhập">
                        <img src="~/Content/register.png" style="width:29px;height:29px;margin-top: 7px;margin-bottom:7px" alt="@ViewBag.shoptitle"/><br /> Đăng ký
                    </a>
                </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Profile", "User")" title="Xin chào, @Session["emailstring"]!">
                            <img src="~/Content/user.png" style="width:29px;height:29px;margin-top: 7px;margin-bottom:7px" alt="@ViewBag.shoptitle" title="Xin chào, @Session["emailstring"]!" /><br /> Tài khoản
                        </a>
                    </li>
                        <li>
                            <a href="@Url.Action("Logout", "User")" title="Đăng nhập">
                                <img src="~/Content/Logout.png" style="width:29px;height:29px;margin-top: 7px;margin-bottom:7px" alt="@ViewBag.shoptitle" /><br /> Đăng xuất
                            </a>
                        </li>
                }
            </ul>
        </div>
        </div>
</header>



