@using PagedList.Mvc
@model PagedList.IPagedList<webanhnguyen.Models.tbl_promotion>
@{
    Layout = "~/Views/Shared/_LayoutPromotion.cshtml";
}
<div id="main">
    <div class="container-fluid">
        <div class="input-group search-box-main">
            <input type="text" class="form-control mb-keyword" placeholder="Bạn muốn tìm gì?">
            <div class="asmr mb-asmr">
                <ul class="fshop-search-cate"></ul>
                <ul class="fshop-search-prod"></ul>
            </div>
            <span class="input-group-btn">
                <button class="btn btn-default search-button-btn" type="submit"><i class="glyphicon glyphicon-search"></i> </button>
            </span>
        </div>

        <div class="fshop-mainbox">

            <div class="row">
                <div class="fshop-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="active"><a href="#">Khuyến mãi</a></li>
                    </ol>
                </div>
            </div>
            <div class="row kms-bannermain">
                <div class="swiper-container kms-bnermain-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="tin-tuc/Tin-khuyen-mai/bao-ve-may-tinh-cu-rinh-them-may-tinh-moi-voi-kaspersky-tai-fpt-shop-44642.html" title="Kaspersky S1" id="2907" class="banner_click">

                                <img src="~/Content/636137578305043685_KMT11-S1.jpg" />  </a>

                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="row kms-list-kmhot">
                <div class="kms-htitle clearfix">
                    <h3>Sản phẩm khuyến mại HOT</h3>
                </div>

                <div class="kms-list-kmhot">
                @foreach (var item in Model)
                {
                        <div class="kms-list-item col-md-3 col-sm-4 col-xs-6">
                        <a class="fnews-sankm-img" href="@Url.Action("PromotionDetail","Home",new {id = item.alias })" target="_blank">

                            <img class="kms-litem-img"  src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@item.AnhBia" title="@item.Tenkhuyenmai">
                            <div class="kms-litem-info">
                                <p class="kms-litem-sale">@item.Tenkhuyenmai</p>
                            </div>
                        </a>
                    </div>
                }
                </div>
            </div>
            

               

                    </div>
</div> 
    <div class="ty-pagination__bottom" style="margin-left: 100px">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;

        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("khuyenmai", new { page = page }))

        </div>
        <style>
            .MenuTrang li {
                display: inline;
            }
        </style>
    </div>

</div>


