@model IEnumerable<webanhnguyen.Models.tbl_Product>
<div class="col-md-8 col-sm-12 box-products">
    <div class="bor-left"></div>
    <div class="products">
        <div class="grid-sizer"></div>
        @foreach (var item in Model)
        {
            <div class="p-item cell-1">
                <div class="p-badge">  </div>
                <div class="p-item-bound" style="background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') no-repeat center top">
                    @*<a href="@Url.Action("Details","Home",new {id = item.alias})" class="p-link-prod" title="@item.ID"></a>*@
                    <figure class="p-image">
                        <span>
                            <a href="@Url.Action("Details","Home",new {id = item.alias})" title="@item.ID">
                                <img class="lazy" src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@item.UrlHinh" alt="@item.TenSP">
                            </a>
                        </span>
                    </figure>
                    <div class="p-info">
                        <div class="p-top-info">
                            <div class="p-info-show">
                                <div class="p-name">
                                    <a href="@Url.Action("Details","Home",new {id = item.alias})" title="@item.TenSP">
                                        <h3>@item.TenSP</h3>
                                    </a>
                                </div> 
                                <div class="p-price">
                                <span class="p-current-price">@(((int)(item.GiaCu)).ToString("#,###", ViewBag.CurrentNumberFormat))<span>đ</span></span>  
                                    <a type="button" href="@Url.Action("ThemGiohang", "ShoppingCart", new { @iMasp= item.ID, @strURL=Request.Url.ToString() })" onclick="alert('Đã Thêm Vào Giỏ')" class="p-current-price right"><img src="~/Content/cart.png" style="width:29px;height:29px;margin-top: 7px;margin-bottom:7px" alt="@ViewBag.shoptitle" title="Thêm giỏ hàng" /></a>
  </div>
                            </div>
                        </div> <div class="p-hide-info">
                            <div class="best-seller-order">
                                <p>Đặt Online nhận ngay khuyến mãi:</p>

                                <ul>
                                    <li>Trả g&oacute;p Home Credit, 0% l&atilde;i suất, trả trước 30%, kỳ hạn 4 th&aacute;ng Hoặc Trả g&oacute;p ACS, 0% l&atilde;i suất, trả trước 0đ, kỳ hạn 4 th&aacute;ng</li>
                                    <li>Sim Vinaphone - FPT Play 5GB/th&aacute;ng xem phim tẹt ga (kh&ocirc;ng &aacute;p dụng trả g&oacute;p 0%)</li>
                                </ul>
                            </div>  <div class="p-promotion">  </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="p-item cell-1 p-item-more"> <div class="p-item-bound"> <a href="javascript:jfpts.homepage.loadMore();" class="p-more" data-current="19"> <span> <i class="icons p-more-icon"></i> <label>Xem thêm <strong>22</strong> sản phẩm</label> </span> </a> </div> </div>
    </div>
</div>

