@using PagedList.Mvc
@model PagedList.IPagedList<webanhnguyen.Models.tbl_Product>
<div class="col-md-8 col-sm-12 box-products">
    <div class="bor-left"></div>
    <div class="products">
        <div class="grid-sizer"></div>
        @foreach (var item in Model)
        {
            <div class="p-item cell-1">
                <div class="p-badge">  </div>
                <div class="p-item-bound">
                    @*<a href="@Url.Action("Details","Home",new {id = item.alias})" class="p-link-prod" title="@item.ID"></a>*@
                    <figure class="p-image">
                        <span>
                            <a href="@Url.Action("Details","Home",new {id = item.alias})" title="@item.ID">
                                <img class="lazy" src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@item.UrlHinh" alt="@item.TenSP">
                            </a>
                        </span>
                    </figure>
                    <div class="p-info">
                        <div class="p-top-info">
                            <div class="p-info-show">
                                <div class="p-name">
                                    <a href="@Url.Action("Details","Home",new {id = item.alias})" title="@item.TenSP">
                                        <h3>@item.TenSP</h3>
                                    </a>
                                </div> 
                                <div class="p-price">
                                <span class="p-current-price">@(((int)(item.GiaHienTai)).ToString("#,###", ViewBag.CurrentNumberFormat))<span>đ</span></span>  
                                   </div>
                            </div>
                        </div>
                         <div class="p-hide-info">
                            <div class="best-seller-order">
                             </div>  <div class="p-promotion"> 
                                      
 </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="pagination" style="margin-top: 300px; float: left; margin-left: -200px">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;

        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("Laysanpham", new { page = page }))

        </div>
        <style>
            .MenuTrang li {
                display: inline;
            }
        </style>
    </div>
    </div>

