@model webanhnguyen.Models.tbl_new
@{
    ViewBag.Title = Model.TieuDe;
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}
<div id="fnew-ifa">

    <div class="fshop-mainbox">
        <!--breadcrumb-->
        <div class="row">
            <div class="fshop-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("tintuc","Home")">Tin Tức</a></li>
                    <li><a href="#">@ViewBag.TenLoai</a></li>

                    <li class="active"><a href="#">@Model.TieuDe</a></li>
                </ol>
            </div>
        </div>
        @Html.Action("menutintuc", "Home")
        <div class="row fnews-detail">
            <div class="fnews-detail-col1">
                <h1 class="fnews-detail-title">@Model.TieuDe</h1>

                <p class="fnews-detail-time">@Model.NgayCapNhat </p>

                <!--DETAIL ORTHER NEWS-->

                <div class="fnews-detail-content">
                    @Html.Raw(Model.TomTat)
                    @Html.Raw(Model.NoiDung)
                </div>
            </div>
        </div>
        </div>
    </div>
    