@model IEnumerable<webanhnguyen.Models.tbl_new>

<div class="news-box">
    <div class="news-box-title clearfix">
        <h3 class="left">Tin công nghệ</h3>
        <a href="@Url.Action("tintuc","Home")" target="_blank" class="news-box-more right">Xem tất cả <i class="fa fa-angle-right"></i> </a>
    </div>
    <div class="news-box-content">
        <ul>
            @foreach (var item in Model)
            {
                <li> <a href="@Url.Action("Reader", "Home", new { id = item.alias})" title="@item.TieuDe" class="clearfix"> <span> <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@item.UrlHinh" data-original="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="@item.TieuDe"> </span> <h3>@item.TieuDe</h3> </a> </li>
            }
        </ul>
    </div>

</div>


