@using PagedList.Mvc
@model PagedList.IPagedList<webanhnguyen.Models.tbl_new>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 breadcrumbs-grid">
                <div id="breadcrumbs_73">

                    <div class="ty-breadcrumbs clearfix">
                        <a href="/Home/Index" class="ty-breadcrumbs__a">Trang chủ</a><span class="ty-breadcrumbs__slash">/</span><span class="ty-breadcrumbs__current">Tin tức</span>
                    </div>

                    <!--breadcrumbs_73-->
                </div>
            </div>
        </div><div class="row-fluid ">
            <div class="span16 main-content-grid">
                <div class="ty-mainbox-container clearfix">
                    <h1 class="ty-mainbox-title">
                        Tin tức
                    </h1>
                    <div class="ty-mainbox-body">
                        <div class="ty-pagination-container cm-pagination-container" id="pagination_contents">
<div class="ty-news">
    @foreach (var item in Model)
    {
    <div class="news-item">
                                    <div class="row-fluid">
                                        <div class="span4 news-image">
                                            <img src="~/@item.UrlHinh" style="width: 276.16px; height: 210.03px" alt="@ViewBag.shoptitle" />
                                        </div>
                                        <div class="span12">
                                            <div class="news-description">
                                                <h3><a href="@Url.Action("Reader", "Home", new { id = item.alias })">@item.TieuDe</a></h3>
                                                <div class="date">@string.Format("{0:dd/MM/yyyy}", item.NgayCapNhat)</div>
                                                <div class="excerpt">
                                                   @Html.Raw(item.TomTat)                                             </div>
                                                <div class="more">
                                                    <a href="@Url.Action("Reader", "Home", new { id = item.alias })">Xem tiếp <i class="fa fa-long-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    }
    </div>
</div>
</div>
</div>
</div>
        @if (Model.PageCount > 1)
        {
                  <div class="ty-pagination__bottom">
                      <div class="MenuTrang">
                          @Html.PagedListPager(Model, page => Url.Action("tintuc", new { page = page }))
                      </div>
                      <style>
                          .MenuTrang li {
                              display: inline;
                          }
                      </style>
                  </div>
        }
    </div>
</div>
</div>