@model IEnumerable<webanhnguyen.Models.tbl_Product>

<div class="row">
    <div class="best-seller">
        <div class="best-seller-title clearfix">
            <h3 class="left">Top bán chạy nhất</h3>
        </div>
        <div class="best-seller-content">
            <div class="best-seller-list">
                <!-- Slider main container -->
                <div class="swiper-container best-seller-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->

                        @for (var i = 0; i < Model.Count(); i++)
                        {

                            <div class="swiper-slide p-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                <div class="p-label icons best-seller-label">@(i+1)</div>
                                @*<a href="@Url.Action("Details","Home",new { id = Model.ElementAt(i).alias})" title="@Model.ElementAt(i).TenSP" class="p-link-prod"></a>*@
                                <figure class="p-image">
                                    <span>
                                        <a href="@Url.Action("Details","Home",new { id = Model.ElementAt(i).alias})" title="@Model.ElementAt(i).TenSP">
                                            <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@Model.ElementAt(i).UrlHinh" alt="@Model.ElementAt(i).TenSP" />
                                        </a>
                                    </span>
                                </figure>
                                <div class="p-info">
                                    <div class="p-top-info">
                                        <div class="p-name">
                                            <h3>
                                                <a href="@Url.Action("Details","Home",new { id = Model.ElementAt(i).alias})" title="@Model.ElementAt(i).TenSP">@Model.ElementAt(i).TenSP</a>
                                            </h3>
                                        </div>
                                        <div class="p-price">
                                            <span class="p-current-price">@(((int)(Model.ElementAt(i).GiaHienTai)).ToString("#,###", ViewBag.CurrentNumberFormat))<span>đ</span></span>
                                        </div>
                                        
                                    </div>
                                    <div class="p-hide-info">
                                        <div class="p-promotion">

                                            <ul>
                                                <li>Trả góp 0%/0 đồng <strong>Hoặc</strong>&nbsp;Cơ hội thu cũ - đổi mới J7 Prime tiết kiệm đến <b>500.000đ Hoặc </b>Tặng Phiếu mua hàng phụ kiện trị giá<b> 200.000đ</b></li>
                                                <li>Tặng Phiếu hàng<b> 100.000đ</b>(chỉ áp dụng mua online)</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
