@model IEnumerable<webanhnguyen.Models.tbl_Product>

<div class="row">
    <div class="best-seller">
        <div class="best-seller-title clearfix">
            <h3 class="left">Top bán chạy nhất</h3>
        </div>
        <div class="best-seller-content">
            <div class="best-seller-list">
                <!-- Slider main container -->
                <div class="swiper-container best-seller-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->

                        @for (var i = 0; i < Model.Count(); i++)
                        {

                            <div class="swiper-slide p-item col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                <div class="p-label icons best-seller-label">@(i+1)</div>
                                @*<a href="@Url.Action("Details","Home",new { id = Model.ElementAt(i).alias})" title="@Model.ElementAt(i).TenSP" class="p-link-prod"></a>*@
                                <figure class="p-image">
                                    <span>
                                        <a href="@Url.Action("Details","Home",new { id = Model.ElementAt(i).alias})" title="@Model.ElementAt(i).TenSP">
                                            <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@Model.ElementAt(i).UrlHinh" alt="@Model.ElementAt(i).TenSP" />
                                        </a>
                                    </span>
                                </figure>
                                <div class="p-info">
                                    <div class="p-top-info">
                                        <div class="p-name">
                                            <h3>
                                                <a href="@Url.Action("Details","Home",new { id = Model.ElementAt(i).alias})" title="@Model.ElementAt(i).TenSP">@Model.ElementAt(i).TenSP</a>
                                            </h3>
                                        </div>
                                        <div class="p-price">
                                            <span class="p-current-price">@(((int)(Model.ElementAt(i).GiaCu)).ToString("#,###", ViewBag.CurrentNumberFormat))<span>đ</span></span>
                                            <a type="button" href="@Url.Action("ThemGiohang", "ShoppingCart", new { @iMasp= Model.ElementAt(i).ID, @strURL=Request.Url.ToString() })" onclick="alert('Đã Thêm Vào Giỏ')" class="p-current-price right"><img src="~/Content/cart.png" style="width:29px;height:29px" alt="@ViewBag.shoptitle" class="p-current-price" title="Thêm giỏ hàng" /></a>
                                        </div>
                                        
                                    </div>
                                    <div class="p-hide-info">
                                        <div class="p-promotion">
                                            <p>Đặt Online nhận ngay khuyến mãi:</p>

                                            <ul>
                                                <li>Trả góp Home Credit, 0% lãi suất, trả trước 30%, kỳ hạn 4 th&aacute;ng <strong>Hoặc</strong> Trả g&oacute;p HD SAISON, l&atilde;i suất 1%, trả trước 0đ, kỳ hạn 6 th&aacute;ng&nbsp;<strong>Hoặc</strong> Phiếu mua h&agrave;ng phụ kiện <strong>200.000đ Hoặc&nbsp;</strong>Giảm 50% combo phụ kiện: combo Silver chỉ 399.000đ, combo Diamond chỉ 699.000đ</li>
                                                <li>Gói bảo hiểm 1 đổi 1 trị giá <b>6.290.000đ</b></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
