@model IEnumerable<webanhnguyen.Controllers.DataHelper.ShoppingCardItemModel>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">Đơn hàng <small>Chi tiết đơn hàng</small></h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>
                    @Html.ActionLink("Quản trị", "Index", "Admin")
                </li>
                <li>Chi tiết đơn hàng</li>
            </ol>
        </div>
    </div>
</div>
<div class="content" style="min-height: 530px;">


    <div class="block">
        <div class="block-content" id="main_order">

            @if (ViewBag.AlertSuccess != null)
            {
                <div class="alert alert-success">@ViewBag.AlertSuccess</div>
            }
            else if (ViewBag.AlertError != null)
            {
                <div class="alert alert-warning">@ViewBag.AlertError</div>
            }

            <form method="post" name="frmForm" enctype="multipart/form-data" class="form-horizontal">
                <input type="hidden" name="id" value="@ViewBag.id">

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Tên người nhận hàng <font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="TenNguoiNhan" class="form-control" value="@ViewBag.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Điện thoại
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="soDT" class="form-control" value="@ViewBag.phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Địa chỉ
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="DiaChi" class="form-control" value="@ViewBag.address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Email
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="yahoo" class="form-control" value="@ViewBag.email">
                    </div>
                </div>
                <div class="form-group"></div>
                <table class="table table-bordered table-hover btl-list-bbli bg-white">
                    <thead>
                        <tr>
                            <td class="text-center">Mã đơn hàng</td>
                            <td class="text-center">Hình sản phẩm</td>
                            <td class="text-center">Tên sản phẩm</td>
                            <td class="text-center">Số lượng</td>
                            <td class="text-center">Đơn giá</td>
                            <td class="text-center">Tổng</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @order.id
                                </td>
                                <td class="text-center">
                                    <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@order.image" border="0" class="img-thumbnail" width="50">
                                </td>
                                <td class="text-center">
                                    @order.name
                                </td>
                                <td class="text-center">
                                    @order.quantity
                                </td>
                                <td class="text-center">
                                    @String.Format("{0:#,##0}", order.price) VND
                                </td>
                                <td class="text-center">
                                    @String.Format("{0:#,##0}", order.total) VND
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-right">
                                <label class="control-label">Tổng tiền</label>
                            </td>
                            <td class="text-center">
                                @String.Format("{0:#,##0}", @ViewBag.TotalPrice)&nbsp; VND
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 btn-gr">
                        <button type="submit" name="btnSave" class="btn btn-sm btn-danger">Chấp nhận</button>
                        <button onclick="goBack()" type="button" name="goback" class="btn btn-sm btn-primary">Quay lại</button>
                    </div>
                </div>
            </form>
        </div>


        <nav class="text-center">
            <ul class="pagination"></ul>
        </nav><!-- End pagination -->
    </div>
</div>
