
@{
    ViewBag.Title = "Quản lý";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content bg-image overflow-hidden" style="background-image: url('../assets/Admin/images/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<div class="content bg-white border-b">
    <div class="row items-push text-uppercase">
        <!--**** add new product ****-->
        <div class="col-xs-4 col-sm-2 placeholder text-center">
            <a class="h2 font-w300 text-primary animated flipInX font-s48" href="@Url.Action("itemCreate","Item")">
                <i class="fa fa-archive"></i>
            </a>

            <div class="font-w700 text-gray-darker animated fadeIn">Thêm sản phẩm</div>
        </div>

        <!--**** add new news ****-->
        <div class="col-xs-4 col-sm-2 placeholder text-center">
            <a class="h2 font-w300 text-primary animated flipInX font-s48" href="@Url.Action("newsCreate","News")">
                <i class="fa fa-newspaper-o"></i>
            </a>
            <div class="font-w700 text-gray-darker animated fadeIn">Thêm tin tức</div>
        </div>

        <!--**** manage orders ****-->
        <div class="col-xs-4 col-sm-2 placeholder text-center">
            <a class="h2 font-w300 text-primary animated flipInX font-s48" href="@Url.Action("orderView","Order")">
                <i class="fa fa-list-ol"></i>
            </a>
            <div class="font-w700 text-gray-darker animated fadeIn">DS đơn hàng</div>
        </div>

        <!--**** module website ****-->
        @*<div class="col-xs-4 col-sm-2 placeholder text-center">
            <a class="h2 font-w300 text-primary animated flipInX font-s48" href="@Url.Action("moduleView","Module")">
                <i class="fa fa-columns"></i>
            </a>
            <div class="font-w700 text-gray-darker animated fadeIn">Module Web</div>
        </div>*@

    </div>
</div>
<div class="content">
    <div class="row">
        <!--**** product information ****-->
        <div class="col-sm-3">
            <div class="dash-tile dash-tile-leaf animated flipInX">
                <div class="dash-tile-header">
                    <div class="dash-tile-options">
                      
                    </div>
                    Sản phẩm
                </div>
                <div class="dash-tile-icon"><i class="fa fa-archive"></i></div>
                <div class="dash-tile-text">
                    <div class="w-meta-info">
                        <span class="w-meta-title">Tổng số danh mục</span>
                        <span class="w-meta-value number-animate">
                            @ViewData["ITEM_CATEGORY_AMOUNT"]
                        </span>
                    </div>
                    <div class="w-meta-info">
                        <span class="w-meta-title">Tổng số sản phẩm</span>
                        <span class="w-meta-value number-animate">
                            @ViewData["ITEM_AMOUNT"]
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--**** news information ****-->
        <div class="col-sm-3">
            <div class="dash-tile dash-tile-ocean animated flipInX">
                <div class="dash-tile-header">
                    <div class="dash-tile-options">
                      
                    </div>
                    Tin tức
                </div>
                <div class="dash-tile-icon"><i class="fa fa-newspaper-o"></i></div>
                <div class="dash-tile-text">
                    <div class="w-meta-info">
                        <span class="w-meta-title"><br/></span>
                    </div>
                    <div class="w-meta-info" style="margin-top:5px">
                        <span class="w-meta-title">Tổng số tin tức</span>
                        <span class="w-meta-value number-animate">
                            @ViewData["NEWS_AMOUNT"]
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--**** orders information ****-->
        <div class="col-sm-3">
            <div class="dash-tile dash-tile-flower animated flipInX">
                <div class="dash-tile-header">
                    <div class="dash-tile-options">
                       
                    </div>
                    Đơn hàng
                </div>
                <div class="dash-tile-icon"><i class="fa fa-shopping-cart"></i></div>
                <div class="dash-tile-text">
                    <div class="w-meta-info">
                        <span class="w-meta-title">Tổng đơn hàng</span>
                        <span class="w-meta-value number-animate">
                            @ViewData["ORDER_AMOUNT"]
                        </span>
                    </div>
                    <div class="w-meta-info">
                        <span class="w-meta-title">Hoàn thành</span>
                        <span class="w-meta-value number-animate">
                            @ViewData["ORDER_COMPLETED_AMOUNT"]
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!--**** others information ****-->
        <div class="col-sm-3">
            <div class="dash-tile dash-tile-balloon animated flipInX">
                <div class="dash-tile-header">
                    <div class="dash-tile-options">
                     
                    </div>
                    Tài khoản
                </div>
                <div class="user">
                    <div class="dash-tile-icon"><i class="fa fa-users"  style="margin-top:40px"></i></div>
                    <div class="dash-tile-text">
                        <div class="w-meta-info">
                            <span class="w-meta-title"><br /></span>
                        </div>
                        <div class="w-meta-info" style="margin-top:10px">
                            <span class="w-meta-title">Khách hàng</span>
                            <span class="w-meta-value number-animate">
                                @ViewData["MEMBER_AMOUNT"]
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
              
            </div>
        </div>
    </div>
</div>
<!-- ***** style css ***** -->
<style type="text/css">
    .dash-tile {
        min-height: 190px;
        background-color: #E9E9E9;
        margin: 0px 0px 20px;
        padding: 0px 20px;
    }

    .dash-tile-ocean {
        background-color: #3991DB;
    }

    .dash-tile-leaf {
        background-color: #C2DB39;
    }

    .dash-tile-flower {
        background-color: #9139DB;
    }

    .dash-tile-balloon {
        background-color: #F76C51;
    }

    .dash-tile-header {
        margin: 0px -20px;
        padding: 0px 4px 0px 7px;
        min-height: 38px;
        line-height: 45px;
        font-weight: 700;
        border-bottom: 2px solid #DDD;
        background-color: #EEE;
    }

    .dash-tile-balloon .dash-tile-header, .dash-tile-flower .dash-tile-header, .dash-tile-leaf .dash-tile-header, .dash-tile-ocean .dash-tile-header {
        border-bottom: 2px solid #F9F9F9;
        background-color: #EEE;
        opacity: 0.75;
    }

    .dash-tile-options {
        float: right;
        height: 38px;
        line-height: 41px;
    }

    .dash-tile-icon, .dash-tile-text {
        line-height: normal;
        color: #FFF;
    }

    .dash-tile-icon {
        float: left;
        padding: 40px 20px 0px 0px;
        font-size: 48px;
        text-align: left;
    }

    .dash-tile-text {
        padding-top: 20px;
    }

    .user .dash-tile-icon, .email .dash-tile-icon {
        padding-top: 10px;
        font-size: 40px;
    }

    .user .dash-tile-text, .email .dash-tile-text {
        padding-top: 10px;
    }

    .w-meta-info > span {
        display: block;
        text-align: center;
        font-weight: 700;
    }

    .w-meta-title {
        color: #FFF;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
        font-size: 14px;
    }

    .w-meta-value {
        font-size: 28px;
    }
</style>