@{
    ViewBag.Title = "Login";
    Layout = "";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Thủy hải sản Cà Mau Administrator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/assets/Admin/plugins/oneui-fw/css/bootstrap.min-1.4.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/Admin/plugins/oneui-fw/css/oneui.min-1.5.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/Admin/plugins/fancybox/source/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/Admin/stylesheet/css.css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="content overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="block block-themed animated fadeIn">
                    <div class="block-header bg-primary">
                        <h3 class="block-title">ĐĂNG NHẬP</h3>
                    </div>
                    <div class="block-content block-content-full block-content-narrow">
                        <h1 class="h2 font-w600 push-30-t push-5">Thủy hải sản Cà Mau</h1>
                        <p>Xin chào bạn, vui lòng đăng nhập ở đây.</p>
                        <p class="help-block animated fadeInDown" style="color: #D26A5C;">@ViewBag.ErrorMessage</p>
                        <form class="js-validation-login form-horizontal push-30-t push-50" method="post" enctype="multipart/form-data" novalidate="novalidate">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-primary floating open">
                                        <input id="login-username" class="form-control" type="text" name="username">
                                        <label for="login-username">Tên đăng nhập</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-primary floating open">
                                        <input id="login-password" class="form-control" type="password" name="password">
                                        <label for="login-password">Mật khẩu</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-5">
                                    <button class="btn btn-block btn-primary btn-login" name="btnLogin" type="submit">
                                        <i class="si si-login pull-right"></i>
                                        Đăng nhập
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push-10-t text-center animated fadeInUp">
        <small class="text-muted font-w600">
            2016 © Thủy hải sản Cà Mau
        </small>
    </div>
    <script type="text/javascript" src="~/assets/Admin/javascript/oneui.min-1.1.js"></script>
    <script type="text/javascript" src="~/assets/Admin/javascript/base_pages_login.js"></script>
    <script type="text/javascript" src="~/assets/Admin/javascript/jquery.validate.min.js"></script>

</body>
</html>