@model webanhnguyen.Models.tbl_admin
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content" style="min-height: 530px;">
    <h3>Tùy chỉnh admin</h3>
    <div class="bs-example bs-example-bg-classes">
        @if (ViewData["Error"] != null)
        {
            <p class="bg-warning">@ViewData["Error"]</p>
        }
        else
        {
            <p class="bg-warning">Lưu ý: Những ô có dấu (<font color="red">*</font>) là bắt buộc</p>
        }
    </div>
    <div class="block">
        <div class="block-content">
            <form method="post" name="frmForm" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Username <font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <input type="text" name="username" class="form-control" value="@Model.Username" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Password <font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <input type="password" name="password" class="form-control" value="@Model.Password" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Quyền <font color="red">*</font>
                    </label>
                    <div class="col-sm-6">
                        <select name="priority" class="form-control" id="menu_parent_id_@Model.Username">
                            @if (Model.Priority == 1)
                            {
                                @Html.Raw("<option value='0'>Chọn quyền</option><option value='1'  selected='selected'>Admin</option><option value='2'>Super admin</option>");
                            }
                            else if (Model.Priority == 2)
                            {
                                @Html.Raw("<option value='0'>Chọn quyền</option><option value='1'>Admin</option><option value='2' selected='selected'>Super admin</option>");
                            }
                            else
                            {
                                @Html.Raw("<option value='0'>Chọn quyền</option><option value='1'>Admin</option><option value='2'>Super admin</option>");
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 btn-gr">
                        <button type="submit" name="btnSave" class="btn btn-default">Chấp nhận</button>
                        <button onclick="goBack()" type="button" name="goback" class="btn btn-default">Quay lại</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>