@using PagedList.Mvc
@model PagedList.IPagedList<webanhnguyen.Models.tbl_Product>
<div class="content" style="min-height: 530px;">
    <div class="block">
        <div class="block-header bg-gray-lighter">
            <span class="block-title">Danh sách sản phẩm </span>

        </div>

        <div class="block-content">

            <div class="block-content-top" style="margin-bottom: 20px;">

                <div class="block-content-top" style="margin-bottom: 20px;">

                    <form method="POST" name="frmForm" enctype="multipart/form-data">
                        <div class="dataTable_filter">
                            <div class="row">
                                <div class="col-md-6">
                                    <input name="keyword" type="text" class="form-control" id="keyword" placeholder="Tìm kiếm..." style="display: inline-block; width: auto; margin-right: 5px;">
                                    <button type="submit" name="search" id="search" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <input type="hidden" name="page" value="">
                <input type="hidden" name="act" value="item">
                <div class="table-responsive" id="content">

                    <table class="table table-bordered table-hover btl-list-bbli bg-white">
                        <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center">
                                    <input type="checkbox" name="chk[]" class="tai_c" id="chkall" value="">
                                </td>
                                <td style="width: 50px;" class="text-center">ID</td>
                                <td style="width: 150px;" class="text-center">Hình đại diện</td>
                                <td class="text-center">Tên sản phẩm</td>
                                <td style="width: 100px;">Số lượng</td>
                                <td style="width: 100px;" class="text-center">Giá bán</td>
                                <td style="width: 100px;" class="text-center">Khuyến mãi</td>
                                <td style="width: 100px;" class="text-center">Giá khuyến mãi</td>
                                <td style="width: 100px;" class="text-center">Quà tặng</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" name="chk[]" class="tai_c" value="@item.ID">
                                    </td>
                                    <td class="text-center">
                                        @item.ID
                                    </td>
                                    <td class="text-center">
                                        @if (String.IsNullOrEmpty(item.UrlHinh))
                                        {
                                            <img src="~/assets/images/noimage.png" border="0" class="img-thumbnail" style="max-width: 50px;">
                                        }
                                        else
                                        {
                                            <img src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@item.UrlHinh" border="0" class="img-thumbnail" style="max-width: 50px;">
                                        }
                                    </td>
                                    <td class="text-center name-to-confirm">
                                        @item.TenSP
                                    </td>
                                    <td class="text-center">
                                        <input type="number" name="quantity" class="form-control" min="1" value="1" required="required">
                                    </td>

                                    <td class="text-center">
                                        <input type="number" name="giaban" class="form-control" value="@item.GiaHienTai">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" name="khuyenmai" class="form-control" value="0">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" name="giakhuyenmai" class="form-control" value="0">
                                    </td>

                                    <td class="text-center">
                                        <input type="text" name="gift" class="form-control" value="">
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>               </div>
            </div>
}


         
            <div style="margin-left: 20px;margin-top: -20px">
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("itemView", new { page = page }))

                    </div>
                    <style>
                        .MenuTrang li {
                            display: inline;
                        }
                    </style>
                           </div>
        </div>
    </div>
</div>

<script>
$(document).on("click", "#MenuTrang a", function () {
    $.ajax({
        url: $(this).attr("href"),
        type: 'GET',
        cache: false,
        success: function (result) {
            $('#content').html(result);
        }
    });
    return false;
});
</script>
