@using webanhnguyen.Models
@model List<webanhnguyen.Controllers.DataHelper.ShoppingCardItemModel>
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 breadcrumbs-grid">
                <div id="breadcrumbs_73">

                    <div class="ty-breadcrumbs clearfix">
                        <a href="@Url.Action("Index","Home")" class="ty-breadcrumbs__a">Trang chủ</a><span class="ty-breadcrumbs__slash">/</span><a href="@Url.Action("Order","User")" class="ty-breadcrumbs__a">Đơn hàng</a><span class="ty-breadcrumbs__slash">/</span><span class="ty-breadcrumbs__current">Thông tin đơn hàng</span>
                    </div>

                    <!--breadcrumbs_73-->
                </div>
            </div>
        </div>

        <div class="row-fluid ">
            <div class="span16 main-content-grid">
                <div class="ty-mainbox-container clearfix">

                    @foreach (var item in ViewBag.order)
                    {
                        <h1 class="ty-mainbox-title">
                            Đơn hàng: @item.id
                            <em class="ty-date">@item.thoidiemdathang</em>

                            @if (item.status == false)
                            {
                                <em class="ty-status">
                                    Trạng thái: Chưa giao
                                </em>
                            }
                            else
                            {
                                <em class="ty-status">
                                    Trạng thái: Đã giao
                                </em>
                            }
                        </h1>
                    }
                    <div class="ty-mainbox-body">
                        <div class="ty-orders-detail">
                            <div class="ty-tabs cm-j-tabs clearfix">
                                <ul class="ty-tabs__list">
                                    <li id="general" class="ty-tabs__item cm-js active"><a class="ty-tabs__a" href="">Thông tin chung</a></li>

                                </ul>
                            </div>

                            <div class="cm-tabs-content ty-tabs__content clearfix" id="tabs_content">

                                <div id="content_general" class="">

                                    <div class="orders-customer">
                                        <h3 class="ty-subheader">
                                            Thông tin khách hàng
                                        </h3>
                                        <div class="ty-profiles-info">
                                            <div id="tygh_order_billing_adress" class="ty-profiles-info__item ty-profiles-info__billing">
                                                <h5 class="ty-profiles-info__title">Thông tin người nhận</h5>
                                                <div class="ty-profiles-info__field">
                                                    @foreach (var item in ViewBag.order)
                                                    {
                                                        <div class="ty-info-field b-firstname">@item.tennguoinhan</div>

                                                        <div class="ty-info-field b-state"> @item.gmail</div>
                                                        <div class="ty-info-field b-phone">@item.phonenumber</div>

                                                        <div class="ty-info-field b-address">@item.diachi</div>

                                                       
                                                    }
                                                </div>
                                            </div>
                                            <div id="tygh_order_shipping_adress" class="ty-profiles-info__item ty-profiles-info__shipping">
                                                <h5 class="ty-profiles-info__title">Thông tin mua hàng</h5>
                                                <div class="ty-profiles-info__field">
                                                    @foreach (var item in ViewBag.kh)
                                                    {
                                                        <div class="ty-info-field s-firstname">@item.name</div>

                                                        <div class="ty-info-field email">@item.email</div>

                                                        <div class="ty-info-field s-phone">@item.moblie</div>

                                                        <div class="ty-info-field s-address">@item.address</div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="ty-orders-detail__products orders-product">
                                        <div>
                                            <div class="ty-subheaders-group">
                                                <h3 class="ty-subheader">

                                                    Thông tin sản phẩm

                                                </h3>

                                                <table class="ty-orders-detail__table ty-table">

                                                    <thead>
                                                        <tr>
                                                            <th class="ty-orders-detail__table-product" style="width: 40%; text-align: center" >Sản phẩm</th>
                                                            <th class="ty-orders-detail__table-price" style="width: 20%; text-align: center">Giá</th>
                                                            <th class="ty-orders-detail__table-quantity" style="width: 20%; text-align: center">Số lượng</th>
                                                            <th class="ty-orders-detail__table-subtotal" style="width: 20%; text-align: center">Thành tiền</th>
                                                        </tr>
                                                    </thead>


                                                    @foreach (var item in Model)
                                                    {
                                                        <tr class="ty-valign-top">
                                                           
                                                            <td>
                                                                <h2>
                                                                    <a href="@Url.Action("Details","Home", new {id = item.alias })">
                                                                        Tên sản phẩm: @item.name
                                                                    </a>
                                                                </h2>
                                                                
                                                            </td>
                                                            
                                                            <td class="ty-right">
                                                                <span>@item.price</span>&nbsp;đ
                                                            </td>
                                                            <td class="ty-center">&nbsp;@item.quantity</td>
                                                            <td class="ty-right">
                                                                &nbsp;<span>@item.total</span>&nbsp;đ
                                                            </td>
                                                        </tr>

                                                    }
                                                </table>




                                                <div class="ty-orders-summary">
                                                  
                                                    <div class="ty-orders-summary__right">

                                                        <div class="ty-barcode ty-center"></div>

                                                        <div class="ty-orders-summary__wrapper">
                                                            <table class="ty-orders-summary__table">
                                                                <tr class="ty-orders-summary__row">
                                                                    <td class="ty-orders-summary__total">Tổng cộng:&nbsp;</td>
                                                                    <td class="ty-orders-summary__total" data-ct-orders-summary="summary-total"><span>@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</span>&nbsp;đ</td>
                                                                </tr>


                                                            </table>
                                                        </div>
                                                    </div>


                                                    <div class="ty-orders-repay">



                                                        <div class="ty-repay" id="elm_payments_list">

                                                            <div class="">
                                                                <div class="" id="content_payments_tab3">
                                                                                <div class="ty-checkout-buttons">
                                                                            <div class="ty-repay-button">


                                                                                <a class="ty-btn__big ty-btn__primary ty-btn" href="@Url.Action("Order","User")" type="button" name="back">Back</a>


                                                                            </div>
                                                                        </div>


                                                                        <div class="processor-buttons hidden"></div>
                                                                 

                                                                    <!--content_payments_tab3-->
                                                                </div>
                                                            </div>

                                                            <!--elm_payments_list-->
                                                        </div>



                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- main order info -->






                                </div>



                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    