@using webanhnguyen.Models
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 breadcrumbs-grid">
                <div id="breadcrumbs_73">
                    <div class="ty-breadcrumbs clearfix">
                        <a href="@Url.Action("Index","Home")" class="ty-breadcrumbs__a">Trang chủ</a><span class="ty-breadcrumbs__slash">/</span><span class="ty-breadcrumbs__current">Giỏ hàng</span>
                    </div>
                    <!--breadcrumbs_73-->
                </div>
            </div>
        </div>
        <h1 class="hidden">Thủy hải sản cà mau</h1>
        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <table class="ty-orders-detail__table ty-table">
                    <thead>
                        <tr>
                            <th class="ty-orders-detail__table-product" style="width: 40%; text-align: center">Sản phẩm</th>
                            <th class="ty-orders-detail__table-price" style="width: 17%; text-align: center">Số lượng</th>
                            <th class="ty-orders-detail__table-quantity" style="width: 17%; text-align: center">Đơn giá</th>
                            <th class="ty-orders-detail__table-subtotal"style="width: 17%; text-align: center">Thành tiền</th>
                            <th class="ty-orders-detail__table-subtotal"style="width: 9%; text-align: center">Xóa</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
            {
                        <tr class="ty-valign-top">
                            <td>
                                <h2>
                                <a href="@Url.Action("Details", "Home", new { id = item.salias})">
                                    <img src="~/@item.sAnhbia" style="width: 120px;vertical-align:middle; float:left; margin-right: 10px" alt="@item.sTensp" />
                                    @item.sTensp
                                </a>
                                    </h2>
                            </td>


                            @using (Html.BeginForm("CapnhatGiohang", "ShoppingCart", new { @iMasp = item.iMasp }))
                            {
                                <td class="ty-center">
                                    <input type="number" min="1" name="txtSoluong" style="width: 30px" value="@item.iSoluong" class="form-control quantity input-sm" />
                                    <br /><br />
                                    <input class="ty-btn ty-btn__secondary" type="submit" value="Cập Nhật" />
                                </td>

                                <td class="ty-center"><span style="font-weight: 700; ">@string.Format("{0:#,##0}", item.dGiaban)<sup> VNĐ</sup></span> </td>
                               
                                <td class="ty-center">
                                    <span style="color: #666; font-size: 12px; font-weight: bold">Đã - @item.iKhuyenmai % Khuyến mãi</span><br />
                                    <br />
                                    <br />
                                    <label id="txt-ThanhTien" style="font-weight: 700; ">@string.Format("{0:#,##0}", item.dThanhtien)</label><sup style="font-weight: 700"> VNĐ</sup>
                                </td>

                                <td class="ty-center">
                                    <a href="@Url.Action("XoaGiohang", new { @iMaSp = item.iMasp })" class="XoaSP" data-id="" >
                                        <img src="~/images/icon_delete.png" alt="@ViewBag.shoptitle"/>
                                    </a>

                                </td>

                            }
                        </tr>
                    }
                </table>
                <div class="ty-orders-summary__wrapper" style="float:right">
                    <table class="ty-orders-summary__table">


                        <tr class="ty-orders-summary__row ">
                            <td class="ty-orders-summary__total">Tổng số lượng:&nbsp;</td>
                            <td class="ty-orders-summary__total" data-ct-orders-summary="summary-total" style=" text-align:right"><span>@ViewBag.Tongsoluong</span></td>

                        </tr>
                        <tr class="ty-orders-summary__row">
                            <td class="ty-orders-summary__total">Tổng cộng:&nbsp;</td>
                            <td class="ty-orders-summary__total" data-ct-orders-summary="summary-total" style="text-align:right"><span>@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</span> đ</td>

                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="ty-checkout-complete__buttons buttons-container  ty-mt-s">
                    <div class="ty-checkout-complete__buttons-left">
                        <a href="@Url.Action("Index", "Home")" class="ty-btn ty-btn__secondary ">Tiếp tục mua hàng</a>
                        &nbsp;
                        <a href="@Url.Action("XoaTatcaGiohang", "ShoppingCart")" class="ty-btn ty-btn__secondary ">Xóa tất cả giỏ hàng</a>

                    </div>
                    <div class="ty-checkout-complete__buttons-right">
                        <a class="ty-btn ty-btn__secondary" href="@Url.Action("DatHang", "ShoppingCart")" id="dathang">Đặt hàng</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


