
<li>
@if (Session["ShoppingCart"] == null || @ViewBag.Tongsoluong == 0)
{ <a href="@Url.Action("GioHang", "ShoppingCart")" title="Giỏ hàng">
        <img src="~/Content/cart.png" style="width:29px;height:29px;margin-top: 7px;margin-bottom:7px" alt="@ViewBag.shoptitle" title="Giỏ hàng" /><br /> Giỏ hàng rỗng
    </a>}
else
{
    <a href="@Url.Action("GioHang", "ShoppingCart")" title="Giỏ hàng">
        <img src="~/Content/cart.png" style="width:29px;height:29px;margin-top: 7px;margin-bottom:7px" alt="@ViewBag.shoptitle" title="Giỏ hàng" /><br /> Giỏ hàng (@ViewBag.Tongsoluong)
    </a>}
</li>
