@using webanhnguyen.Models
@{
   
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}
<div class="ck-main">
    <div class="ck-menu">
        <ul class="ck-menuul">
            <li class="active"><a href="javascript:;" title=""><span>1</span> Nhập thông tin mua hàng</a></li>
            <li class="ck-mnli2"><a href="javascript:;" title=""><span>2</span> Hoàn tất mua hàng online</a> </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="ck-s1">
                <h2 class="ck-tit-prod">1.Các sản phẩm đặt mua</h2>
                <div class="ck-s1-info">
                    @foreach (var item in Model)
                    {
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="ck-s1-tb listproincart promain" >
                                <div class="ck-s1-tdl">

                                    <p><img id="imageproduct" src="~/cdn.fptshop.com.vn/Uploads/Thumbs/@item.sAnhbia" alt="@item.sTensp"></p>
                                </div>
@using (Html.BeginForm("CapnhatGiohang", "ShoppingCart", new { @iMasp = item.iMasp }))
{

                                <div class="ck-s1-tdr">
                                    <p class="ck-s1-tit" id="productname">@item.sTensp</p>
                                    <p class="ck-s1-price">
                                        @(((int)(item.dThanhtien)).ToString("#,###", ViewBag.CurrentNumberFormat))<sup>đ</sup>
                                    </p>
                                    <ul class="ck-s1-ul">

                                        <li>
                                            <input class="form-control quantity-product" type="number" name="txtSoluong" min="1" max="5" value="@item.iSoluong" />
                                                
                                        </li>
</ul>
                                    <ul class="ck-s1-ul">

                                        <li>
                                            <input class="btn btn-danger" type="submit" name="capnhat" value="Cập nhật" />

                                        </li>
                                        <li>
                                            <a href="@Url.Action("XoaGiohang", new { @iMaSp = item.iMasp })" class="XoaSP" data-id="">
                                                <img src="~/images/icon_delete.png" alt="@ViewBag.shoptitle" title="Xóa sản phẩm" />
                                            </a>

                                        </li>
                                    </ul>
                                    
                                </div>
        }
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 poromotiondefault">
                            <div class="ck-s1-rightul">
                                <p class="ck-s1-col">Sản phẩm được áp dụng gói khuyến mãi <span id="numberpacket">1</span></p>
                                <div class="ck-s1-rightulbox">
                                    <ul class="promotionchoosened">
                                        <li><p>• Phần mềm bảo mật tin nhắn và chặn tin nhắn rác Smooth Messenger</p></li>

                                    </ul>
     
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    <div id="listpromotion">
                    </div>
                </div>

                <div class="ck-s1-prtb">
                    <ul class="ck-s1-aprice">
                        <li>
                            <p>Tổng đơn hàng: @(((int)(ViewBag.Tongtien)).ToString("#,###", ViewBag.CurrentNumberFormat))<sup>đ</sup></p>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="ck-s2 ck-s2main">
                @{
                    Customer kh = (Customer)Session["Email"];
                }


                <h2 class="ck-tit-prod">2.Thông tin khách hàng</h2>
                <p class="ck-s2-ibb">Bạn vui lòng nhập thông tin cá nhân của bạn (những ô có dấu * là những ô bắt buộc)</p>
               @using (Html.BeginForm())
               {
    @Html.ValidationSummary(true)

                    <ul class="ck-s2-iul clearfix" id="ck-ifkh">
                        <li>
                            <div class="ck-s2-form ck-s2-frm">
                                <input type="text" id="name" name="name" class="form-control" placeholder="Họ và tên" value="@kh.name">
                            </div>
                        </li>
                        <li>
                            <div class="ck-s2-form ck-s2-frm">
                                <input type="text" id="phone" name="phone" class="form-control" placeholder="Số điện thoại" value="@kh.moblie">
                            </div>
                        </li>
                        <li>
                            <div class="ck-s2-form">
                                <input type="text" id="email" name="email" class="form-control" placeholder="Email" value="@kh.email">
                            </div>
                        </li>
                    </ul>

               }
            <!--Kiem tra cty ok-->
            
            <div class="ck-s3">
                <h2 class="ck-tit-prod">3.Phương thức nhận hàng</h2>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tt-tienmat">
                         @using (Html.BeginForm())
                         {
                            @Html.ValidationSummary(true)

                                <p><strong>Địa điểm nhận hàng:</strong></p>
                                <div class="row ck-s2-frow" data-city="">
                                  
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="form-group ck-s2-form">
                                            <input type="text" class="form-control" id="address" name="address" placeholder="Nhập địa chỉ" value="@kh.address">
                                        </div>
                                    </div>
                                </div>

                         }
                                                </div>

                        <br>
                    </div>
                    <ul class="ck-s3-btn">
                        <li>
                            <input type="submit" id="dathang" name="dathang" class="btn btn-danger ck-s3-btntt">
                                <p><b>Đặt hàng</b></p>
                            
                        </li>
                        <li>
                            <input type="submit" id="dathangonline" class="btn btn-success ck-s3-btntt">
                                <p><b>THANH TOÁN ONLINE</b></p>
                         
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ckt-footer">
                <p class="ckt1-fcall">Gọi ngay <strong>01669280986</strong> để được tư vấn miễn phí</p>
            </div>
        </div>
        <div class="tab-pane" id="tab2">

        </div>
    </div>
</div>
